#{$all-button-inputs},
button {
  @include appearance(none);
  @include media($large-plus) {
		width: auto;
  }
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  margin-bottom: $small-spacing;
  background-color: transparent;
  border: $base-border;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font-family;
  font-size: $button-font-size;
  letter-spacing: $button-font-spacing;
  line-height: normal;
  padding: $small-spacing;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:active {
    box-shadow: none;
  }
  &:hover,
  &:focus {
    //background-color: lighten($action-color, 15%);
  }
  &:disabled {
    cursor: not-allowed;
    color: $colourGreyLight;
		border-color: $colourGreyLight;
  }
  &.button--primary {
    background-color: transparent;
    border: $base-border;
    &:hover,
    &:focus {
      border-bottom: none;
      background-color: lighten($action-color, 10%);
    }
  }
  &.button--secondary {
    color: $colourGreyDark;
    background-color: transparent;
    border: $base-border;
    &:hover,
    &:focus {
      border-bottom: none;
      background-color: darken($colourGreyLighter, 10%);
    }
  }
  &.button--facebook {
    color: $colourWhite;
    background-color: $colourFacebook;
    &:hover,
    &:focus {
      border-bottom: none;
      background-color: darken($colourFacebook, 10%);
      color: $colourWhite;
    }
  }
}

// class for links
.button { 
  @extend button;
}
